In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Data.csv')
data.shape

(1000, 12)

In [4]:
data.head()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [5]:
data = data.drop('v.id', axis=1, inplace=False)

In [6]:
data.head()

,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler()

In [9]:
X = data.drop('current price', axis=1, inplace=False).values
y = data['current price'].values

In [10]:
X[:2]

array([[535651, 798186,      3,  78945,      1,      2,     14,    177,
            73,    123],
       [591911, 861056,      6, 117220,      5,      9,      9,    148,
            74,     95]], dtype=int64)

In [11]:
y[:2]

array([351318. , 285001.5])

In [12]:
data_scaled = scaler.fit_transform(X)

In [13]:
data_scaled[:5]

array([[0.1772899 , 0.49138298, 0.2       , 0.28742292, 0.        ,
        0.11111111, 0.85714286, 0.64615385, 0.32857143, 0.76388889],
       [0.4591621 , 0.80608072, 0.8       , 0.67179497, 1.        ,
        0.88888889, 0.14285714, 0.2       , 0.34285714, 0.375     ],
       [0.93552411, 0.35411129, 0.        , 0.82562413, 0.25      ,
        0.77777778, 1.        , 0.70769231, 0.04285714, 0.40277778],
       [0.36941992, 0.11193869, 0.4       , 0.50956034, 0.75      ,
        0.22222222, 0.42857143, 0.95384615, 0.05714286, 0.66666667],
       [0.95755884, 0.55720071, 0.8       , 0.11282613, 0.5       ,
        0.88888889, 0.57142857, 0.38461538, 0.04285714, 0.51388889]])

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [16]:
lr = LinearRegression()

In [17]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(700, 10)
(700,)
(300, 10)
(300,)

In [18]:
model = lr.fit(X_train, y_train)

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error, root_mean_squared_error, r2_score

In [21]:
print("MSE")
print(mean_squared_error(y_pred, y_test))

MSE
71615707.31506878

In [22]:
print("RMSE")
print(root_mean_squared_error(y_pred, y_test))

RMSE
8462.606413810629

In [23]:
print("MAPE")
print(mean_absolute_percentage_error(y_pred, y_test) * 100)

MAPE
2.9187310966021824

In [24]:
print("R-Square")
print(r2_score(y_pred, y_test))

R-Square
0.9955332715568663

In [25]:
print(data.dtypes)

on road old        int64
on road now        int64
years              int64
km                 int64
rating             int64
condition          int64
economy            int64
top speed          int64
hp                 int64
torque             int64
current price    float64
dtype: object